<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieWebApp</title>
        <link rel="stylesheet" href="static/style.css"
    </head>
    <body>
        <nav>
            <div class="container">
                <a href="/" class="logo">🎬 MovieApp</a>
            </div>
        </nav>

        <main class="card">
            <h1>Users</h1>

            <div class="user_list">
                {% for user in users %}
                    <div class="user_card">
                        <h3>{{ user.name }}</h3>
                        <form action="{{ url_for('view_movies', user_id=user.id) }}">
                            <button type="submit" class="viewmovies">View Movies</button>
                        </form>
                    </div>
                {% else %}
                    <p>No users yet.</p>
                {% endfor %}
            </div>
            <form class="new_user" method="POST">
                <label>Add user:</label>
                <input name="username" type="text">
                <button type="submit">send</button>
            </form>
        </main>
    </body>
</html>